.container {
  background-size: 150% auto;
  background-position: 70% 20%;
  height: 1300px;
  position: relative;
}

.title {
  font-size: 36px;
  font-weight: 800;
  margin: 50px 0;
  padding-top: 50px;
}

.text {
  width: 50%;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  font-style: italic;
  padding-bottom: 50px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .container {
    background-size: auto auto;
  }

  .text {
    width: 90%;
    line-height: 35px;
    font-size: 20px;
  }
}