.container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  padding: 20px 0;
  color: grey;
}

.text {
  font-size: 24px;
  width: 700px;
  text-align: center;
  line-height: 50px;
  color: rgb(173, 173, 173);
}

@media screen and (max-width: 800px) {
  .title {
    width: 80%;
    font-size: 20px;
  }
  .text{
    width: 80%;
    font-size: 16px;
  }
}