.container {
  width: 100%;
  max-width: 2000px;
  max-height: 1000px;
  height: 100vh;
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: 110% auto;
  padding-top: 100px;
}

.overlay {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(1, 97, 9, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  font-size: 54px;
  width: 50%;
  font-weight: 800;
  text-align: center;
}

.text {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  width: 90%;
}

.button {
  padding: 10px 30px;
  border-radius: 30px;
  margin: 20px;
  cursor: pointer;
  transition: background-color .3s linear;
  background: rgba(1, 97, 9, 0.1);
  color: white;
  border: 1px solid white;
  font-size: 24px;
  font-weight: 800;
}

.button:hover {
  background: white;
  color: green;
  border: none;
}

@media screen and (max-width: 800px) {
  .container {
    background-size: auto 100%;
    background-position: 40% 50%;
  }
  .title {
    font-size: 36px;
    width: 90%;
  }
}