#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  height: 100%;
  position: relative;
}

/* modal */

.modal.fade .resNav {
  height: 100%;
  width: 200px;
  position: fixed;
  margin: auto;
  right: 0;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
}

.modal.fade .quote {
  position: relative;
  margin: auto;
  transform: none;
}

.modal-content {
  height: 100%;
  border-radius: 0;
  border: none;
}

.quote .modal-content {
  background: rgba(228, 228, 228, 0.9);
  color: rgb(104, 104, 104);
}

.modal-header {
  border: none;
}

.modal.show .modal-dialog {
  transform: none;
}


 /* carousel */

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 400px;
  height: 40px;
  width: 40px;
  font-size: 24px;
}

.carousel-control-next {
  left: 50%;
  margin-right: 40px;
}

.carousel-control-prev {
  left: 50%;
  margin-left: -40px;
}

.carousel.slide {
  position: relative;
  border-radius: 30px;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter,
.fade-exit {
  transition: opacity 400ms ease-in-out;
}

/* quote modal distance display transition */

.distDisplay-enter {
  max-height: 0px;
}
.distDisplay-enter-active {
  max-height: 100px;
  transition: max-height 300ms ease-in-out;
}
.distDisplay-exit {
  max-height: 100px;
}
.distDisplay-exit-active {
  max-height: 0;
  transition: max-height 300ms ease-in-out;
}

@media screen and (max-width: 800px) {

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }

  .modal.fade .quote {
    width: 90%;
    margin: auto;
  }
}