/* navbar */

.navbar-container {
  position: fixed;
  background-color: white;
  width: 100%;
  max-width: 2000px;
  height: 75px;
  z-index: 2;
}

.navbar-container.light {
  background: rgba(190, 190, 190, 0.01);
}

.navbar-container.light .site-logo {
  color: yellow;
}

.site-navbar {
  max-width: 2000px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.site-logo {
  width: 10%;
  height: 75px;
  display: flex;
  flex-direction: column;
  color: green;
  font-family: 'Dancing Script', cursive;
  font-weight: 800;
  position: relative;
}

.navbar-logo-top, .navbar-logo-bottom {
  margin: auto;
  position: absolute;
  width: 150px;
  text-align: center;
}

.navbar-logo-top {
  font-size: 48px;
  top: 0px;
  line-height: 64px;
}

.navbar-logo-bottom {
  font-size: 20px;
  line-height: 10px;
  top: 50px;
}

.links-container {
  width: 600px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: grey;
}

.links-container.light {
  color: rgb(202, 202, 202);
}

.links-container.light .navbar-link.active {
  color: white;
}

.links-container.light .navbar-link::after {
  background: white;
}

.links-container.light .navbar-link:hover {
  color: white;
}

.navbar-link-container {
  width: 33%;
  text-align: center;
  transition: color 0.5s ease-in;
}

.navbar-link {
  display: inline-block;
}

.navbar-link:hover, .navbar-link.active {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.navbar-link::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: all 500ms;
}

.navbar-link:hover::after, .navbar-link.active::after {
  width: 100%;
}

.responsive-links-container {
  width: 100px;
  display: none;
  font-size: 33px;
  justify-content: center;
  align-items: center;
}

.modal.fade .modal-dialog {
  height: 100%;
  width: 200px;
  position: fixed;
  margin: auto;
  right: 0px;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
}

.modal-content {
  height: 100%;
  border-radius: 0;
  border: none;
}

.modal-header {
  border: none;
}

.modal.show .modal-dialog {
  transform: none;
}

.burger-menu {
  border: none;
  background: rgb(0, 0, 0, 0.01);
  position: fixed;
  font-size: 24px;
}

.burger-menu.light {
  color: white;
}

.sidebar-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sidebar-link {
  padding: 10px;
  border: none;
  background: white;
  color: grey;
  font-size: 24px;
  font-weight: 800;
}

.sidebar-link.active {
  color: black;
  text-decoration: underline;
}

 /* carousel */

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 400px;
  height: 40px;
  width: 40px;
  font-size: 24px;
}

.carousel-control-next {
  left: 50%;
  margin-right: 40px;
}

.carousel-control-prev {
  left: 50%;
  margin-left: -40px;
}

.carousel.slide {
  position: relative;
  border-radius: 30px;
}

@media screen and (max-width: 800px) {
  .responsive-links-container {
    display: flex;
  }
  .links-container {
    display: none;
  }

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}